/* キャンコレ　カラー設定 */
.hisan{
    background: "#d460dd"
}
.niko{
    background: "#84a614";
}
.mittsu{
    background: "#e1c61c"
}
.gotosan{
    background: "#17508b";
}
.mucchan{
    background: "#9c7055";
}
.nacchan{
    background: "#c0b400";
}
.hachibe{
    background: "#d67a03";
}
.kaicho{
    background: "#00a1ad";
}

@font-face{
    font-family: 'Mgen';
    src: url('../font/mgenplus-1cp-black.ttf') format("truetype");
}

@font-face{
    font-family: 'light-novel';
    src: url('../font/light-novel.otf') format("opentype");
}

/* アニメーション */
.fade{
    &-enter-active, &-leave-active{
        transition: .3s;
    }
    &-enter, &-leave-to{
        opacity: 0;
    }
}

